<h1>Sign up here to be a part of the Tattoo-App community</h1>
<form method="POST" action="/users">
    <p>Name: <input type="text" name="name"></p>
    <p>Username: <input type="text" name="username"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="password" name="password"></p>
    <p>Total number of tattoos: <input type="integer" name="total_tattoos"></p>
    <p>Age you got your first tattoo: <input type="integer" name="age_first_tattoo"></p>
    <p>Favorite tattoo: <input type="text" name="fav_tattoo"></p>
    <input type="submit" value="Sign me up">
</form>
