<h1>A list of all the tattoos currently logged:</h1>
    <ul>
        <% @tattoos.each do |tattoo| %>
            <li> <a href="/tattoos/<%=tattoo.id%>"> <%= tattoo.image %> </a> </li>
        <% end %>
    </ul>   

<% if user_logged_in? %>
    <h2>
        <a href="/tattoos/new">Log new tattoo</a>
    </h2>
<% end %>