<h1>A list of all the tattoos currently logged:</h1>
    <ul>
        <% @tattoos.each do |tattoo| %>
            <li> <a href="/tattoos/<%=tattoo.id%>"> <%= tattoo.image %> </a>, by artist <%= tattoo.artist_name %> </li>
        <% end %>
    </ul>   

    <h2>
        <a href="/tattoos/new">Log new tattoo</a>
    </h2>