<h1>Log a new tattoo here:</h1>

<form method="post" action="/tattoos">
<p>Image: <input type="text" name="image"></p>
<p>Size: <select type ="text" name="size">
    <option selected disabled hidden>select</option>
    <option value="small">small</option>
    <option value="medium">medium</option>
    <option value="large">large</option>
    <option value="extra-large">extra-large</option>
</select>
<p>Colors: <input type="text" name="color"></p>
<p>Artist's name: <input type="text" name="artist_name"></p>
<input type="submit" value="Log tattoo">
</form>