<h1>Welcome to TattooApp</h1>

<br>

<p><i>- we won't help you do your chores but we will help you ink your skin -</i></p>

<p><strong>Join as a user to keep track of all your ink and find the artist for your next piece:</strong><br >
<br>
<button id="button" onclick="location.href='/users/signup'">Tattoo Haver</button></p>

<br >

<p><strong>Join as an artist to connect with potential clients:</strong><br>
<br>
<button id="button" onclick="location.href='/artists/signup'">Tattoo Doer</button></p>