<h1>Welcome to the Tattoo-app</h1>

<h4>We won't help you do your chores but we will help you ink your skin</h4>

<p>Join as a user to keep track of all your ink and find the artist for your next piece</p>

<button id="button" onclick="location.href='/users/signup'">Tattoo Haver</button>

<p>Join as an artist to connect with potential clients</p>

<button id="button" onclick="location.href='/artists/signup'">Tattoo Doer</button>